*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul ol {
    list-style: none;
}
button {
    cursor: pointer;
}
.h2 {
    color: red;
}

.cub {
    width: 300px;
    height: 250px;
    border: 1px solid black;
    color: red;
